<div class="show_adventure">

  <!-- adventure -->
  <div class="location_wrapper">
    <h1><%=@adventure.name%></h1>
    <img class="adventure_image" src="<%=@adventure.image_url%>" alt="">
    <h3><%=@adventure.address%></h3>
    <p><%=@adventure.details%></p>
    <p><%=@adventure.special_mention%></p>
  </div>

  <!-- tags -->
  <div class="tag_wrapper">
    <% @tags.each do |tag| %>
      <a href="/?tag_id=<%=params[:id]%>"><%= tag.tag_name %></a>

    <% end %>
  </div>

  <div class="update_wrapper">
    <!-- delete adventure -->
    <form action="/adventures/<%=@adventure.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button id="deletebutton">Delete Adventure</button>
    </form>
    <!-- edit adventure-->
    <button id="edit">
      <a id="edit" href="/adventures/<%=@adventure.id%>/edit">Update Adventure</a>
    </button>
  </div>

  <!-- #comments -->
  <div class="comments">
    <p>
      <% @comments.each do |comment| %>
        <p><%= comment.body %></p>
      <% end %>
    </p>

    <form class="" action="/comments" method="post">
      <input type="hidden" name="adventure_id" value="<%= @adventure.id %>">
      <textarea name="body" rows="8" cols="80"></textarea>
      <p>
        <button id="addcomment">Add Comment</button>
      </p>

    </form>
  </div>
</div>
